.container {
    margin-top: 2rem;
}

.recipe1{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.image-search-title {
    display: flex;
    margin-top: .5em;
    justify-content: center;
    color: #285B52;
}

.image-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 50%;
    width: 25%;
    border-radius: 5px;
}

.identifier p {
    display: flex;
    justify-content: center;
    text-align: center;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5em;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    border-color: #285B52;
    background-color: #59B49B;
    height: 25rem;
}
.image-upload>input {
    display: none;
}

i.fas.fa-upload{
    transform: scale(5);
}

#uploaded {
    padding: 11rem 19rem;
}

.lds-ring {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid black;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: black transparent transparent transparent;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

